templateproject/.classpath
templateproject/.project
templateproject/target
templateproject/target/*
DataStructures/arrays-ds-English/.classpath
DataStructures/arrays-ds-English/.project
DataStructures/arrays-ds-English/target
DataStructures/arrays-ds-English/target/*